@model KontonisAG.Models.Lieferanten

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lieferanten</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Firma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kontaktperson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kontaktperson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Straße)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Straße)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PLZ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLZ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Land)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Land)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Homepage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Homepage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Lieferanten_Nr }) |
    @Html.ActionLink("Back to List", "Index")
</p>
